*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-align: center;
  }
  nav,header,footer{
    display: block;
  }
  ul.ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li.li-nav {
    float: left;
    list-style: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
.heading{
  text-align: center;
}

div.box{
  text-align:center;
  margin:24px;
  padding:36px 24px 40px 24px;
  border-radius:8px;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px 0 rgba(0,0,0,.1);
}

div.icon{
  width:100%;
}

div.icon{
  width:100%;
}
div.leftside-col{
  margin-left:30%;
  
}
div.rightside-col{
 margin-left:15%;

}
img.card-img{
  width:250px;
  height:250px;
  border-radius:50%;
}


.container{
  width:100%;
   margin:auto;
   padding-top:4%;
   padding-bottom:4%;  
}
.row{
 width:100%;
 display:flex;/*will grab the elements inside*/
 flex-wrap:wrap;
 align-items:center;
}
.row::after{
   display:table;
   clear:both;
   content:"";
   
}
.col-1{
   width:8.33%}
.col-2{
   width:16.66%}
.col-3{
   width:25%}
.col-4{
   width:33.33%}
.col-5{
   width:41.66%}
.col-6{
   width:50%}
.col-7{
   width:58.33%}
.col-8{
   width:66.66%}
.col-9{
   width:75%}
.col-10{
   width:83.33%}
.col-11{
   width:91.66%}
.col-12{
   width:100%}

div.rc img{
  display:block;
  margin:auto;
  box-shadow:-2px -2px 20px 2px rgba(0,0,0,0.15), 2px 2px 17px 2px rgba(0,0,0,1);
  overflow:hidden;
}
*{
   box-sizing:border-box;
   
}
div.box{
  box-shadow:-2px -2px 20px 2px rgba(253, 249, 249, 0.15), 2px 2px 17px 2px rgb(113, 112, 112);
}


img {  
width:400px;  
height: auto;  
text-align: center;  
padding: 15px;
display: block;
margin-left: auto;
margin-right: auto;  
/*border: 3px solid red;*/  
}

header {
    margin:auto;
}
.info{
 text-align: center;
}
a:link.linke {
   color : red;
 }
 a:visited.linke{
   color : green;
 }
 a:hover.linke{
   color:yellow;
 }
 a:active.linke{
   color:orange;
 }
 table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.tab {
  margin-left: auto; 
  margin-right: auto;
  width: 800px;
  height: auto;
}

footer{ 
  background-color: grey;
  color:rgb(248, 246, 246);
  text-align: center;
 

  
}

video{
 margin:20px;
 width:800px;
 height:auto;
}

table {
  border-collapse: collapse;
 
}

th, td {
  
  text-align: center;
  
}

tr:hover {background-color: #D6EEEE;}



@media screen and (max-width: 680px){
  ul.topnav li:not(:nth-child(1)){
      display:none;
  } 
  ul.topnav li.dropdown-icon{
      display:block;
      float:right;
  }
  ul.topnav.responsive li.dropdown-icon{
      position:absolute;
      top:0;
      right:0;
  }
  ul.topnav.responsive{
      position:relative;
  }
  ul.topnav.responsive li{
      display:inline;
      float:none;
      
  }
  ul.topnav.responsive li a{
      display:block;
      text-align:left;
      
  }
  .col-6,.col-4,.col-7,.col-5{
  width:100%;
  margin:0;
  
}
 
  div.mobilestack{
      width:50%;        
      display:block;
      
  }
   
  
  article p{
      font-size:25px;
      
  }
  div.unicorn img{
      width:100%;
      
  }
  div.box{
      padding:5px;
      display:block;
      
  }
  h1.section2header{
      font-size:55px;
      padding:10px 20px;
      
   
 
  }
div.leftside-col,di.rigthside-col{
  margin:15px;
  
}
input[type="text"]{
  width:300px;
  
  
}
input[type="password"]{
  width:300px;
}
.video-container iframe{
  position:relative;
  width:100%;
  margin:0;
  overflow:hidden;
  
  
}
  

}



