img {  
width: 300px;  
height: auto;  
text-align: center;  
padding: 15px;  
/*border: 3px solid red;*/  
}

a:link {
   color : red;
 }
 a:visited{
   color : green;
 }
 a:hover{
   color:yellow;
 }
 a:active{
   color:orange;
 }