*{
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    list-style: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }


img {  
width: 300px;  
height: auto;  
text-align: center;  
padding: 15px;  
/*border: 3px solid red;*/  
}

header {
    margin:auto;
}
.info{
 text-align: center;
}
a:link {
   color : red;
 }
 a:visited{
   color : green;
 }
 a:hover{
   color:yellow;
 }
 a:active{
   color:orange;
 }

footer{ 
  background-color: grey;
  color:rgb(12, 12, 12);
  text-align: center;
 
  bottom:0; 
  width:100%; 
  height:50px; 
}

video{
 margin:20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {background-color: #D6EEEE;}

video{
  
}
